<!DOCTYPE html>
<html>
    <head>
        <title>検索</title>
    </head>
    <body>
        <form action='keyword' method='get'>
            <b>タイトルに含むキーワード： </b> <input type="text" name="keyword" value="">
            <button type='submit' class='btn btn-primary'>検索</button>
        </form>
    </body>
</html>